<%-include("partials/header")-%>
<h1> I have worked on the following projects</h1>
<ul>
  <li>
    <h1> project title</h1>
    <p>
       some info
      </p>
    </li>  <li>
        <h1> project title</h1>
        <p>
           some info
          </p>
        </li>
        <li>
          <h1> project title</h1>
          <p>
             some info
            </p>
          </li>
          <li>
            <h1> project title</h1>
            <p>
               some info
              </p>
            </li>
            <li>
              <h1> project title</h1>
              <p>
                 some info
                </p>
              </li>
  </ul>
<%-include("partials/footer")-%>
